annotated-types==0.7.0 ; python_full_version > "3.9.0" and python_version < "3.13"
attrs==23.2.0 ; python_full_version > "3.9.0" and python_version < "3.13"
cachetools==5.3.3 ; python_full_version > "3.9.0" and python_version < "3.13"
certifi==2024.2.2 ; python_full_version > "3.9.0" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_full_version > "3.9.0" and python_version < "3.13"
colorama==0.4.6 ; python_full_version > "3.9.0" and python_version < "3.13" and platform_system == "Windows"
decorator==5.1.1 ; python_full_version > "3.9.0" and python_version < "3.13"
deprecation==2.1.0 ; python_full_version > "3.9.0" and python_version < "3.13"
idna==3.7 ; python_full_version > "3.9.0" and python_version < "3.13"
lancedb==0.8.0 ; python_full_version > "3.9.0" and python_version < "3.13"
linkify-it-py==2.0.3 ; python_full_version > "3.9.0" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_full_version > "3.9.0" and python_version < "3.13"
markdown-it-py[linkify,plugins]==3.0.0 ; python_full_version > "3.9.0" and python_version < "3.13"
mdit-py-plugins==0.4.1 ; python_full_version > "3.9.0" and python_version < "3.13"
mdurl==0.1.2 ; python_full_version > "3.9.0" and python_version < "3.13"
numpy==1.26.4 ; python_full_version > "3.9.0" and python_version < "3.13"
overrides==7.7.0 ; python_full_version > "3.9.0" and python_version < "3.13"
packaging==24.0 ; python_full_version > "3.9.0" and python_version < "3.13"
py==1.11.0 ; python_full_version > "3.9.0" and python_version < "3.13"
pyarrow==15.0.0 ; python_full_version > "3.9.0" and python_version < "3.13"
pydantic-core==2.18.3 ; python_full_version > "3.9.0" and python_version < "3.13"
pydantic==2.7.2 ; python_full_version > "3.9.0" and python_version < "3.13"
pygments==2.18.0 ; python_full_version > "3.9.0" and python_version < "3.13"
pylance==0.11.0 ; python_full_version > "3.9.0" and python_version < "3.13"
python-dotenv==1.0.1 ; python_full_version > "3.9.0" and python_version < "3.13"
pyyaml==6.0.1 ; python_full_version > "3.9.0" and python_version < "3.13"
ratelimiter==1.2.0.post0 ; python_full_version > "3.9.0" and python_version < "3.13"
requests==2.32.2 ; python_full_version > "3.9.0" and python_version < "3.13"
retry==0.9.2 ; python_full_version > "3.9.0" and python_version < "3.13"
rich==13.7.1 ; python_full_version > "3.9.0" and python_version < "3.13"
semver==3.0.2 ; python_full_version > "3.9.0" and python_version < "3.13"
sseclient-py==1.8.0 ; python_full_version > "3.9.0" and python_version < "3.13"
textual==0.63.5 ; python_full_version > "3.9.0" and python_version < "3.13"
tqdm==4.66.4 ; python_full_version > "3.9.0" and python_version < "3.13"
typing-extensions==4.12.0 ; python_full_version > "3.9.0" and python_version < "3.13"
uc-micro-py==1.0.3 ; python_full_version > "3.9.0" and python_version < "3.13"
urllib3==2.2.1 ; python_full_version > "3.9.0" and python_version < "3.13"
