black==24.4.2 ; python_full_version > "3.9.0" and python_version < "3.13"
click==8.1.7 ; python_full_version > "3.9.0" and python_version < "3.13"
colorama==0.4.6 ; python_full_version > "3.9.0" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
exceptiongroup==1.2.1 ; python_full_version > "3.9.0" and python_version < "3.11"
iniconfig==2.0.0 ; python_full_version > "3.9.0" and python_version < "3.13"
isort==5.13.2 ; python_full_version > "3.9.0" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_full_version > "3.9.0" and python_version < "3.13"
packaging==24.0 ; python_full_version > "3.9.0" and python_version < "3.13"
pathspec==0.12.1 ; python_full_version > "3.9.0" and python_version < "3.13"
platformdirs==4.2.2 ; python_full_version > "3.9.0" and python_version < "3.13"
pluggy==1.5.0 ; python_full_version > "3.9.0" and python_version < "3.13"
pytest-asyncio==0.23.7 ; python_full_version > "3.9.0" and python_version < "3.13"
pytest==8.2.1 ; python_full_version > "3.9.0" and python_version < "3.13"
ruff==0.4.6 ; python_full_version > "3.9.0" and python_version < "3.13"
tomli==2.0.1 ; python_full_version > "3.9.0" and python_version < "3.11"
typing-extensions==4.12.0 ; python_full_version > "3.9.0" and python_version < "3.11"
