annotated-types==0.7.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
attrs==23.2.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
cachetools==5.3.3 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
certifi==2024.2.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
charset-normalizer==3.3.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
colorama==0.4.6 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0" and platform_system == "Windows"
decorator==5.1.1 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
deprecation==2.1.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
idna==3.7 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
lancedb==0.8.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
linkify-it-py==2.0.3 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
markdown-it-py==3.0.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
markdown-it-py[linkify,plugins]==3.0.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
mdit-py-plugins==0.4.1 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
mdurl==0.1.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
numpy==1.26.4 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
overrides==7.7.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
packaging==24.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
py==1.11.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
pyarrow==15.0.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
pydantic-core==2.18.3 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
pydantic==2.7.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
pygments==2.18.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
pylance==0.11.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
python-dotenv==1.0.1 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
pyyaml==6.0.1 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
ratelimiter==1.2.0.post0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
requests==2.32.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
retry==0.9.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
rich==13.7.1 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
semver==3.0.2 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
sseclient-py==1.8.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
textual==0.63.5 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
tqdm==4.66.4 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
typing-extensions==4.12.0 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
uc-micro-py==1.0.3 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
urllib3==2.2.1 ; python_full_version > "3.9.0" and python_full_version <= "3.12.0"
