colorama==0.4.6 ; python_full_version > "3.9.0" and python_version < "3.13" and sys_platform == "win32"
exceptiongroup==1.2.1 ; python_full_version > "3.9.0" and python_version < "3.11"
iniconfig==2.0.0 ; python_full_version > "3.9.0" and python_version < "3.13"
packaging==23.2 ; python_full_version > "3.9.0" and python_version < "3.13"
pluggy==1.5.0 ; python_full_version > "3.9.0" and python_version < "3.13"
pytest-asyncio==0.23.7 ; python_full_version > "3.9.0" and python_version < "3.13"
pytest==8.2.1 ; python_full_version > "3.9.0" and python_version < "3.13"
ruff==0.4.6 ; python_full_version > "3.9.0" and python_version < "3.13"
tomli==2.0.1 ; python_full_version > "3.9.0" and python_version < "3.11"
