Screen {
    background: $surface-darken-1;
    &:inline {
        height: 50vh;
    }
}

PipelineCard {
    margin: 1;
}

#tree-view {
    scrollbar-gutter: stable;
    overflow: auto;
    width: 40%;
    height: 100%;
    dock: left;
}

#pipeline_desc {
    color: rgb(128, 128, 128);
}

CodeBrowser #tree-view {
    display: block;
    max-width: 50%;
}


#code-view {
    overflow: auto scroll;
    min-width: 100%;
}
#code {
    width: auto;
}
